/* styles.css */

/* Global Styles */
:root {
    --font-family: Arial, sans-serif;
    --primary-bg-color: #333;
    --primary-text-color: #fff;
    --secondary-bg-color: #f5f5f5;
    --border-color: #ddd;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
    --menu-bg-color: #0088cc;
    --menu-text-color: #fff;
    --menu-hover-color: #ff5733;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    text-align: center;
    padding: 2rem;
}

/* Main Content Styles */
#main-content {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.content-box {
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--border-color);
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 0 5px var(--box-shadow-color);
}

/* Footer Styles */
footer {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    text-align: center;
    padding: 1rem;
}

/* Menu Styles */
nav {
    background-color: var(--menu-bg-color);
    padding: 1rem;
    text-align: center;
}

nav a {
    color: var(--menu-text-color);
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: var(--menu-hover-color);
    color: var(--menu-text-color);
}

/* Container Styles */
.container {
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 300px; /* Adjust the container height as needed */
    border: 1px solid #ccc; /* Optional: Add a border for visualization */
}
